body {
	width: 100%;
	margin: auto;
	background-color: white;
}

header {
	width: auto;
	height: auto;
}

.banner {
	background-color: #3c8b94;
	display: inline-block;
	width: 100%;
	height: 75px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.code_ac {
	float: left;
	margin-top: -5px;
	margin-left: 8px;
}

.face {
	float: right;
	text-align: right;
}

.face img {
	background-color: white;
}

.title {
	text-align: center;
}

.recapitulatif {
	margin: 0 auto;
	text-align: center;
}

.total {
	background-color: white;
	width: 800px;
	height: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.liste_quiz {
	background-color: white;
	width: 800px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categorie {
	background-color: white;
	width: 800px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question {
	float: left;

}

.time {
	float: right;

}