
.question_list, .tags {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

.question {
	padding-top: 15px;
	padding-left: 20px;
	text-align: left;
}

li {
	list-style-type: none;
	display: inline;
	text-align: center;
	margin: 20px 20px 20px 20px;
}

.first_choice {
	margin-left: 20px;
}

.second_choice {
	margin-left: 100px;
}

.third_choice {
	margin-left: 100px;
}

.fourth_choice {
	margin-right: 20px;
	margin-left: 100px;
}

.tags {
	border-bottom: solid;
}

.modif {
	float: right;
	margin-top: -40px;
}

.add {
	background-color: #3c8b94;
	border-radius: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 50px;
	padding-left: 50px;
	color: #FFFFFF;
	font-size: 20px;
	float: right;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}